.information {
    background: rgb(244, 245, 245);
    padding-bottom: 140px;

    &__left {
        grid-column: 6 span;
        @include tablet {
            grid-column: 5 span;
        }
        @include small-tablet {
            grid-column: 12 span;
            margin-bottom: 20px;
        }
    }
    &__right {
        grid-column: 7 / 6 span;
        gap: 36px 33px;
        @include tablet {
            grid-column: 6/ 7 span;
            gap: 30px 27px;
        }
        @include small-tablet {
            grid-column: 12 span;
        }
    }
    &__item {
        grid-column: 6 span;
    }

    &__title {
        margin: 0;
        max-width: 77%;
        color: rgb(0, 51, 49);
        font-family: Libre Baskerville;
        font-size: 31px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 1.2px;
        @include tablet {
            max-width: 100%;
        }
        @include small-tablet {
            text-align: center;
        }
    }
    &__subtitle {
        margin: 0;
        margin-bottom: 4px;

        color: rgb(0, 51, 49);
        font-family: Public Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
    }
    &__descr {
        margin: 0;
        color: rgba(53, 83, 98, 0.8);
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
    }
    &__block {
    }
    @include small-tablet {
        padding-bottom: 40px;
    }
}
