<section class="information">
  <div class="container information_container grid">
    <div class="information__left">
      <h2 class="information__title">Get the right information to the right person at the right time.</h2>
    </div>
    <div class="information__right grid">

      <div class="information__item">
        <div class="information__subtitle">For Leaders</div>
        <div class="information__descr">Set goals, forecast the impact of policy or practice changes, and track their
          outcomes across your agency.</div>
      </div>
      <div class="information__item">
        <div class="information__subtitle">For Line Staff</div>
        <div class="information__descr">Track probation and parole outcomes, see what’s leading to success, and reduce
          recidivism with our case management system.</div>
      </div>
      <div class="information__item">
        <div class="information__subtitle">For the Public</div>
        <div class="information__descr">Use open source code, public data, interactive tools, and data visualizations to
          understand the state of incarceration, promote accountability, and conduct research.</div>
      </div>
      <div class="information__item">
        <div class="information__subtitle">For Policymakers and Advocates</div>
        <div class="information__descr">Project the impact of policies on carceral, fiscal, and community outcomes.
          Understand where disparities begin, where they grow, and whether a policy is likely to increase or reduce
          them.</div>
      </div>


    </div>


  </div>
</section>
